.card {
  width: 320px;
  text-align: center;
  position: relative;
  border-radius: 20px;

  &__header {
    background-image: url(/images/bg-pattern-card.svg);
    height: 130px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;

    img {
      border: solid white 5px;
      border-radius: 50px;
      position: absolute;
      left: calc(50% - 55px);
      top: 80px;
    }
  }

  &__profile {
    height: 150px;
    background-color: white;
    border-bottom: solid #e8e9ec 1px;
    &__name {
      padding-top: 5.5rem;
      font-weight: 700;
      color: rgb(58, 58, 58);
      span {
        color: $colorDarkGray;
        font-weight: 400;
      }
    }
    &__city {
      margin-top: 0.6rem;
      font-size: 0.8em;
    }
  }

  &__numbers {
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    padding: 1.5rem;
    background-color: white;
    ul {
      display: flex;
      justify-content: space-around;
      align-items: center;
    }
  }
}
